.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.bar {
    width: 22px;
    height: 1.5px;
    background: grey;
    border-radius: 20px;
}
.bar1 {
    width: 14px;
    height: 1.5px;
    background: grey;
    border-radius: 20px;
}
.bar2 {
    width: 8px;
    height: 1.5px;
    background: grey;
    border-radius: 20px;
}

.menu-item {
    padding: 0 10px;
    cursor: pointer;
}
.menu{
    display: flex;
    align-items: center;
}
.fin{
    display: flex;
    
}
/*page 2
*/

.search-container {
  display: flex;
  align-items: center;
  background-color: transparent; /* gris clair */
  padding: 8px 12px;
  border-radius: 4px;
  width: 250px;
}
.sec2{
    display: flex;
    justify-content: space-between;
}
.shop {
  display: flex;
  align-items: center;
  gap: 12px;
 
  padding: 20px;
  margin-top: 12rem;
}

/* Bouton principal */
.go-to-shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d3d3d3; 
  border: none;
  padding: 7px 20px;
  width: 200px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;

}

.go-to-shop .arrow {
  font-size: 18px;
  margin-left: 10px;
}


.arrow-btn {
  width: 35px;
  height: 35px;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 2px;
  padding: 0;

}

.arrow-btn:hover {
  background-color: #eee;
}

/* sec3*/
.sec3{
display: flex;
flex-direction: column;
}
.er{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.eme{
    display: flex;
    justify-content: space-between;
}
.emm{
    display: flex;
    gap: 11%;
}
.butt{
    display: flex;
    position: relative;
    top: 6%;
    right: -47rem;
    gap: 1%;
}

/*page4*/
.kid{
    display: flex;
    gap: 1rem;
}
.filtre{
    display: flex;
    gap: 3rem;
}
.v img{
    width: 19rem;
    height: 19rem;
}


/*page5*/

.tx{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.tx p {
    text-align: center;
}
.pos{
    display: flex;
    justify-content: space-between;
}
.d{
   margin-top: 3rem; 
}


/* page 6*/
footer{
    margin-top: 9rem;
    display: flex;
}
.s{
    margin-top: 5rem;
}





